body {
  max-width: 478px; }
  body header {
    background-color: #fff; }
    body header nav {
      display: inline-block;
      padding: 0 0 0 1em;
      font-size: 1em;
      vertical-align: middle;
      margin-bottom: -1em; }
    body header a:first-child {
      color: #565D64;
      text-decoration: none; }
    body header a:nth-child(2) {
      color: #777;
      padding: 0 2em;
      text-decoration: none; }
    body header a:nth-child(3) {
      color: #000;
      text-decoration: none; }
    body header a:last-child {
      color: #777;
      padding-left: 2em;
      text-decoration: none; }
    body header div {
      background-image: url(https://images.unsplash.com/2/05.jpg?crop=entropy&fit=crop&fm=jpg&h=625&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1225);
      margin-bottom: 3em; }
      body header div h1 {
        color: #fff;
        padding: 0 60px;
        text-align: center;
        font-weight: 400;
        text-shadow: 1px 1px #000; }
      body header div h1:first-child {
        padding-top: 70px;
        margin-bottom: -0.5em; }
      body header div h1:last-child {
        padding-bottom: 70px;
        margin-top: 0.5em; }
  body main {
    max-width: 458px;
    margin: 0 10px; }
    body main .color-panel {
      padding: 2em 1em 0.5em 1em;
      text-align: center;
      height: 180px;
      color: #fff; }
      body main .color-panel h4:first-child {
        letter-spacing: 5px;
        margin: initial; }
      body main .color-panel h1 {
        font-size: 100px;
        font-weight: 300;
        margin: initial; }
      body main .color-panel h4:last-child {
        margin: initial;
        font-weight: 500;
        font-size: 20px; }
    body main #green-panel {
      background-color: #519251; }
    body main #green-text {
      color: #A7C8A7; }
    body main #blue-panel {
      background-color: #2C4985; }
    body main #blue-text {
      color: #95A3C2; }
    body main #black-panel {
      background-color: #000; }
    body main #black-text {
      color: #878787; }
    body main .information-grid {
      list-style: none;
      text-align: center;
      color: #777;
      margin-top: 0;
      margin-bottom: 1.5em; }
      body main .information-grid li {
        border: 1px solid #DBDBDB;
        padding: 0.75em;
        margin-left: -2.5em;
        background-color: #E8E8E8; }
      body main .information-grid li:last-child {
        background-color: #fff;
        height: 55px; }
      body main .information-grid a {
        text-decoration: none;
        color: #000;
        font-weight: bolder;
        border: 1px solid #E1E1E1;
        padding: 0.5em 1em;
        border-radius: 1em;
        position: relative;
        top: 1.25em; }
    body main .premium-plan-panel:last-child {
      margin-bottom: 6.25em; }
  body .lorem-ipsum {
    margin: 0 3em;
    text-align: left; }
    body .lorem-ipsum h3 {
      font-weight: 400;
      letter-spacing: 5px;
      font-size: 1.2em; }
    body .lorem-ipsum p {
      line-height: 1.5em;
      color: #546268; }
  body footer {
    background-color: #000;
    color: #888888;
    padding: 1.5em 2em;
    text-align: center;
    line-height: 1.5em; }
    body footer a {
      color: #fff; }

@media (min-width: 478px) {
  body {
    max-width: 767px; }
    body header > nav {
      padding: 1em 0 1.5em 1em; }
    body header > div {
      padding: 3em 0; }
      body header > div h1 {
        font-size: 3em; }
    body main {
      max-width: 747px; } }
@media (min-width: 767px) {
  body {
    max-width: 978px; }
    body main {
      max-width: 958px; }
      body main .premium-plan-panel {
        display: inline-block;
        margin: 0 0.5em;
        width: 30%; }
    body section > div {
      display: inline-block;
      width: 40%;
      vertical-align: top; }
    body section > div:first-child {
      margin-right: 2.5em; }
    body section > div:nth-child(2) {
      margin-left: 2.5em; }
    body section > div:nth-child(3) {
      margin-right: 2.5em; }
    body section > div:last-child {
      margin-left: 2.5em; } }
@media (min-width: 979px) {
  body {
    max-width: 50000px; }
    body header {
      max-width: 980px;
      margin: 0 auto 3em auto; }
    body main {
      margin: 0 auto; }
    body .lorem-ipsum {
      margin: 0 3em;
      /*Not sure why using margin: 0 auto won't work in the above line, but some part of how I set up the divs and the paragraphs is messing with how they turn out. Not entirely sure how to fix it. */ }
      body .lorem-ipsum section > div:first-child {
        margin-left: auto; }
      body .lorem-ipsum section > div:nth-child(2) {
        margin-right: auto; }
      body .lorem-ipsum section > div:nth-child(3) {
        margin-left: auto; }
      body .lorem-ipsum section > div:last-child {
        margin-right: auto; }
    body footer {
      margin: 0 auto; } }

/*# sourceMappingURL=styles.css.map */
